{{#each rows}}
<div class="panel panel-default history-item">
        <span class="row">
            <span class="fsn-item item">{{fsn}}</span>
            <span class="mrp-item item">{{mrp}}</span>
            <span class="set-discount-item item">{{set_discount}}</span>
            <span class="selling-price item">{{selling_price}}</span>
            <span class="variable_discount item ">{{variable_discount}}</span>
            <span class="discount_limit item">{{discount_limit}}</span>
        </span>
</div>
{{/each}}