{{#each rows}}
<div class="panel panel-default history-item">
        <span class="row">
            <span class="mrp-item item col-md-2">{{mrp}}</span>
            <span class="set-discount-item item col-md-2">{{set_discount}}</span>
            <span class="selling-price item col-md-2">{{selling_price}}</span>
            <span class="variable_discount item col-md-2">{{variable_discount}}</span>
            <span class="discount_limit item col-md-2">{{discount_limit}}</span>
            <span class="price_saved item col-md-2">{{price_saved}}</span>
        </span>
</div>
{{/each}}